header {
	background:#ffffff;
	color:#000;
}

.main {
	background:#2C3e50;
	color:#fff;
}

.color1 {
	background:#ffffff;
	color:#000;
}

aside {
	background:#ffffff;
	color:#000;
}

footer {
	background:#ffffff;
	color:#000;
}